
@font-face {
  font-family: "inter400";
  src: url(../fonts/Almarai-Regular.ttf);
}

@font-face {
  font-family: "inter700";
  src: url(../fonts/Almarai-Bold.ttf);
}
@font-face {
  font-family: "inter800";
  src: url(../fonts/Almarai-ExtraBold.ttf);
}


* {
  font-family: 'inter400', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
 
}
:root{
  --main-color: #FFB703;
  --second-color: #12223B;
}

html {
 
  font-size: 16px;
  
  scroll-padding-top: 8rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #e1e1e1;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}


/* upper-nav */
.upper-nav{
  background-color: #FD6054;
}
.icons .icon{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .1);
}

.icons .icon a i {
  color: #fff;
}
.icons .icon:hover{
  background-color: white;
  
}
.icons .icon:hover a i {
  color: #ff0040;
  
}

#sectionHero{
  height: 50vh;
}


#sectionHero  .hero-content{
  background: linear-gradient(273deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 132.79%), url("../img/page-header-bg.jpg") round no-repeat; background-size: cover; background-attachment: fixed;

}

#sectionHero .hero-content h2{
  font-size: 3rem;
}









/* hero section */
#hero .first-slid{
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
}

#hero .sec-slid{
  background-image: url(../img/hero-bg-2.jpg);
  background-position: center;
  background-size: cover;
}

#hero  .hero-content{
  background: linear-gradient(273deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 132.79%);

}
#hero .hero-content h1{
  color: var(--main-color);
}
#hero .hero-content h2{
  font-size: 4rem;
}
#hero .carousel-control-next{
  position: absolute;
  top: 50%;
  right: 0;   
  display: flex;
  align-items: center;
  justify-content: center;
  width:3rem;
  height: 3rem;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border:1px solid white;
  opacity: 1;
  transition: all .15s ease;
}
#hero .carousel-control-prev{
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width:3rem;
  height: 3rem;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border:1px solid white;
  opacity: 1;
  transition: all.15s ease;
}
#hero .carousel-control-next:hover {
  color: var(--main-color);

}
#hero .carousel-control-prev:hover {
  color: var(--main-color);
}
#hero .carousel-control-next:hover .ani-carosl {
  right: 0;
}
#hero .carousel-control-prev:hover .ani-carosl {
  right: 0;
}
.ani-carosl{
  left: 0;
  right: 100%;
  top: 0;
  bottom: 0;
  transition: all .5s;
  z-index: -1;
}



/* start navbar */
.nav-item:hover a{
  color: var(--main-color);
}
.nav-item a{
  transition: all .5s;
}
.nav-item a {

  color: white;
  font-size: .9rem;
  margin-right: .5rem; 
}
/* #hero .nav-link-scroll {

  color: black;
  font-size: .9rem;
  margin-right: .5rem; 
} */
 nav.dark {
  background-color: #B0B0B0;
} 
.navbar-nav .nav-link.active,#hero .navbar-nav .show>.nav-link {
  color: var(--main-color);
}
 .navbar{
  border-bottom: 1px solid var(--main-color);
  
}


/* end navbar */
@keyframes bounce {
  0%{
      top: 70%;
  }
  10%{
      top:60%;
  }
  20%{
      top: 50%;
  }
  30%{
      top:40%;
  }
  40%{
      top:30%;
  }
  50%{
      top: 20%;
  }
  60%{
      top:10%;
  }
  70%{
      top: 20%;
  }

  80%{
      top: 30%;
  }
  90%{
      top: 40%;
  }
  100%{
      top: 60%;
  }

}
#hero .anmi-icon {
  border: 1px solid white;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 2rem;
  height: 3rem;
  transition: all .5s;
  will-change: top; 
}
#hero .anmi-icon:hover{
  border: 1px solid var(--main-color);
}

.anmi-icon::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  top:70%;
  display: block;
  
  animation: bounce 2s linear infinite alternate ;
}


.btn-custom1{

font-family: "inter700";
font-size: 0.88188rem;
line-height: 1.48181rem; 
color: white;
background-color:var(--main-color); 
border-radius: 3px;

border: none;
-webkit-transition: all 0.2s ;
-o-transition: all 0.2s ;
transition: all 0.2s ;

}
.btn-custom2{
  background-color: transparent; 
  border: var(--second-color) 1px solid;
  color: var(--second-color);
}
.btn-custom2:hover{
  background-color: var(--second-color);
  color: white;
  border: var(--second-color) 1px solid !important;

}
.btn-custom1:hover{
  opacity: .9;

}
.button-container-collapes{
  display: none;
}

/* end hero */

#about p{
  color: #8A8A8A;


font-size: 1.25rem;

font-family: "inter700";
line-height:  2.3125rem;
letter-spacing: -0.00625rem;
}



/* start service section */
#service {
  background-image: url('../img/our-service-bg.png'), linear-gradient(var(--second-color), var(--second-color)); 
  background-position: top right; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-blend-mode: multiply; 
  border-top: var(--main-color) 1px solid;
  border-bottom: var(--main-color) 1px solid;
}


#service .service-card:hover{
  background-color: #f4b60a1c;
}
#service .service-card:hover h4{

  color:var(--main-color);
}
#service .service-card .iconLayer{
  width: 5.5rem;
  height: 5.5rem;
  background-color: #f4b60a1c;

}

#service .service-card h4{
  color: #FFF;
  font-size: 1.5rem;
  font-family: "inter800";
  line-height: 2.625rem
}




#serviceDetails .swiper {
  width: 100%;
  height: 100%;
}

#serviceDetails .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#serviceDetails .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}






















/* end service section */
#vision .vision-card{
  border: #ececec9c 2px solid;
}
#vision .vision-card:hover{
  border: var(--main-color) 2px solid;
}
#vision .vision-card p{
  color:#8A8A8A ;
}
#vision .vision-card:hover h4,
#vision .vision-card:hover i {
  color: var(--main-color);
}



#whatWeDo{
  background:linear-gradient(#E9F7FE, #E9F7FE) ;
}
#whatWeDo .whatWeDo-card{
  background:var(--second-color);
  border: #ececec9c 2px solid;
}
#whatWeDo .whatWeDo-card:hover{
  border: var(--main-color) 2px solid;
}
#whatWeDo .whatWeDo-card p{
  color:#cacaca ;
  font-size: 1.5rem;
}#whatWeDo .whatWeDo-card h4{
  color:white ;
  font-size: 3rem;
}
#whatWeDo .whatWeDo-card:hover h4 {
  color: var(--main-color);
}




#projects {
  background-color: #E9F7FE; 
  background-image: url('../img/projects-bg.png'); 
  background-position: top right; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-blend-mode: overlay; 
}



#projects .card-inner{
  position: relative;
  border-radius: 10px;
  overflow: hidden;

}
#projects .card-inner img{
  width: 100%;
  border-radius: 10px;
  transition: .5s all;


}
#projects .card-inner:hover .card-fillter {
  opacity: 1;
}
#projects .card-inner:hover img{
  transform: scale(1.1);
  filter: blur(1px);
}
#projects .card-fillter{
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  border-radius: 10px;
  transition: .5s all;
  
}
#projects .card-fillter p{
  color: white;
}
#projects .card-fillter h5{
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}







#testimonials .Testimonial-card .card-body p{
  color: #374151;
  font-size: 0.96538rem;
  line-height: 1.76044rem; 
  letter-spacing: -0.00963rem;
  
  }
  
  #testimonials  .Testimonial-card .footer-content h6{
    color:  var(--second-color);
  font-family: "inter700";
  font-size: 1rem;
  letter-spacing: -0.01819rem;
  }
  #testimonials .Testimonial-card .footer-content p{
    
    font-size: 0.79506rem; 
    line-height: 1.41969rem;
    letter-spacing: -0.00794rem;
  }



  .swiper-navBtn {
    display: none;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .swiper-pagination-bullet {
    background-color: var(--second-color);
    width: .8rem;
    height: .8rem;
  }
 
  .card-wrapper .card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .card-wrapper .card img {
    display: block;
    width: 100%;
    height: 100px; /* Set this to your desired height */
    object-fit: contain; /* Keeps the aspect ratio, adds padding */
    /* or use object-fit: cover; if you want to fill the space */
  }
  







  #contact {
    background-image: url('../img/contact-us-bg.png'), linear-gradient(#E9F7FE, #E9F7FE); 
    background-position: top right; 
    background-size: cover; 
    background-repeat: repeat; 
    background-blend-mode: multiply; 
}

#contact .iconLayer{
  width: 5rem;
  height: 5rem;
  background-color: #f4b60a1c;

}
#contact label{
  color: #535353;

font-size: 1.1rem;
font-family: "inter700";
line-height:  2.16538rem ;
letter-spacing: -0.00719rem;
}

textarea{
  resize: none;
}


















#footer{
  border-top: var(--main-color) 2px solid;
}
#footer p{
  color: #FFF;

font-size: 0.875rem;
font-family: "inter700";

line-height: 1.61875rem ;

}
#footer h6{
font-family: "inter800";
line-height: 1.5rem ;
}

#footer ul{
  list-style: none;
}
#footer .icons .icon{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .1);
}
#footer .icons .icon a i {
  color: #fff;
}
#footer .icons .icon:hover{
  background-color: white;
  
}
#footer .icons .icon:hover a i {
  color: var(--main-color);
  
}

/* SHAERD CSS */
.logoText{
  letter-spacing: .15rem;
}
.logoTextE{
  font-size: .75rem !important;
}
.sec-header h2{
  font-family: "inter800";
  color: var(--main-color);
font-size: 1rem;
line-height: 3rem;
letter-spacing: -0.0125rem;
}

.sec-header h3{
  color: var(--second-color);
font-family: "inter700";
font-size: 2.5rem;
}
.sec-header p{
color: #464646;
font-size: 1.0625rem;
line-height: 1.875rem;
letter-spacing: -0.01063rem;
}






.text-main{
  color: var(--main-color) !important;
}
.text-second{
  color: var(--second-color) !important;
}
.bg-main{
  background-color: var(--main-color);
}
.bg-second{
  background-color: var(--second-color);
}

.auto-margin {
  margin-left: auto; /* ms-auto in LTR */
}

/* RTL specific styles */
[dir="rtl"] .auto-margin {
  margin-right: auto; /* me-auto in RTL */
}

@media (max-width: 991px) {
  html {
      font-size: 14px;
    } 
    .button-container-collapes{
      display: block;
    }
    .button-container{
      display: none;
    }
    #hero .collapse{

      background: rgba(0, 0, 0, 0.2); /* Semi-transparent background color */
      backdrop-filter: blur(10px);    /* Blur effect */
      -webkit-backdrop-filter: blur(10px);}
   
}

@media (max-width: 768px) {
  html {
      font-size: 13px;
    }
  
}
@media (max-width: 450px) {
  html {
    font-size: 12px;
  }

}

